/* UserTable.css */
.ag-theme-alpine {
    height: 100%;
    width: 100%;
  }
  
  .ag-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 0 5px;
  }

  .icons-div {
    display: flex;
  }

  .edit-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .edit-modal-content {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-height: 80vh; /* Set the maximum height to make the content scrollable */
    overflow-y: auto; /* Enable vertical scrolling */
  }