/* SignupForm.module.css */
.signup-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .formInput {
    margin-bottom: 16px;
  }
  
  .submit-button {
    margin-top: 16px;
  }
  

  .anchor_tag {
    cursor: pointer;
  }